package views

import "github.com/itsektionen/mimer/model"

templ Groups(groups []model.Group) {
	@Layout() {
		@groupsView(groups)
	}
}

templ groupItem(group model.Group) {
	<div class="p-4">
		<p class="font-semibold">{ group.Name }</p>
		<p class="text-sm text-muted-foreground">{ group.Timespan() }</p>
	</div>
}

templ groupsView(groups []model.Group) {
	<section class="divide-y">
		for _, group := range groups {
			@groupItem(group)
		}
	</section>
}
