package views

import "github.com/itsektionen/mimer/model"
import "github.com/itsektionen/mimer/templates/components"

templ Group(group model.Group, trustees []model.Trustee) {
	@Layout() {
		@groupView(group, trustees)
	}
}

templ groupView(group model.Group, trustees []model.Trustee) {
	<div class="p-8 border-b striped bg-muted">
		<h2 class="font-semibold text-xl">{ group.Name }</h2>
	</div>
	<div class="divide-y">
		<section class="p-8">
			if group.Description != nil {
				<p>{ *group.Description }</p>
			}
			<p>
				Founded in 
				{ group.EstablishedAt.Format("2006") }
			</p>
		</section>
		<section class="p-8">
			<p class="font-semibold mb-4 text-sm">Trustees</p>
			<div class="grid grid-cols-2 gap-4">
				for _, trustee := range trustees {
					<div class="border p-8 flex gap-4">
						@components.Avatar(trustee.User)
						<div>
							<p class="font-semibold">{ trustee.Position.Name }</p>
							<p class="text-sm text-muted-foreground">{ trustee.User.FullName() }</p>
						</div>
					</div>
				}
			</div>
		</section>
	</div>
}
