package views

import (
	"context"
	"github.com/itsektionen/mimer/app/ctxs"
	"github.com/itsektionen/mimer/templates/components"
)

func isDarkTheme(ctx context.Context) bool {
	theme, ok := ctxs.ThemeFromContext(ctx)
	return ok && theme == "dark"
}

templ Layout(title string) {
	<html lang="en-US" class={ templ.KV("dark", isDarkTheme(ctx)) }>
		<head>
			<title>
				if title != "" {
					{ title } - Mimer
				} else {
					Mimer
				}
			</title>
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			<meta charset="utf-8"/>
			<link rel="stylesheet" href="/static/index.css"/>
			<link rel="stylesheet" href="/static/fonts/index.css"/>
			<script src="/static/vendor/htmx.min.js" defer></script>
		</head>
		<body class="min-h-svh flex flex-col">
			@components.Navbar()
			<div class="flex grow w-full max-w-6xl mx-auto border-x">
				@components.Sidebar()
				<main class="w-full">
					{ children... }
				</main>
			</div>
		</body>
	</html>
}
