package views

import "github.com/itsektionen/mimer/templates/components"

templ Layout() {
	<html>
		<head>
			<title>Mimer</title>
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			<meta charset="utf-8"/>
			<link rel="stylesheet" href="/static/index.css"/>
			<link rel="stylesheet" href="/static/fonts/index.css"/>
			<script src="/static/vendor/htmx.min.js"></script>
		</head>
		<body class="min-h-svh flex flex-col">
			@components.Navbar()
			<div class="flex grow w-full max-w-6xl mx-auto border-x">
				@components.Sidebar()
				<main class="w-full">
					{ children... }
				</main>
			</div>
		</body>
	</html>
}
