package views

import "github.com/itsektionen/mimer/model"

templ Position(position model.Position, trustees []model.Trustee) {
	@Layout(position.Name) {
		@positionView(position, trustees)
	}
}

templ positionView(position model.Position, trustees []model.Trustee) {
	<section>
		<div class="p-8 border-b striped bg-muted">
			<h2 class="font-semibold text-xl">{ position.Name }</h2>
		</div>
	</section>
	<section class="p-8">
		<p class="text-sm font-medium text-muted-foreground mb-2">Description</p>
		<p class="mb-8">{ *position.Description }</p>
		<p class="text-sm font-medium text-muted-foreground mb-2">Holders</p>
		<table class="data-table">
			<thead>
				<tr class="bg-secondary">
					<th>Name</th>
					<th>Year</th>
				</tr>
			</thead>
			<tbody>
				for _, trustee := range trustees {
					<tr>
						<td>
							{ trustee.User.FullName() }
						</td>
						<td>
							{ trustee.StartDate.Year() }
						</td>
					</tr>
				}
			</tbody>
		</table>
	</section>
}
