package views

import "github.com/itsektionen/mimer/model"

templ Positions(positions []model.Position) {
	@Layout() {
		@positionsView(positions)
	}
}

templ positionItem(position model.Position) {
	<div class="p-4">
		<p class="font-semibold">{ position.Name }</p>
		<p class="text-sm text-muted-foreground">{ position.Timespan() }</p>
	</div>
}

templ positionsView(positions []model.Position) {
	<section class="divide-y">
		for _, position := range positions {
			@positionItem(position)
		}
	</section>
}
