package components

templ Navbar() {
	<header class="p-4 w-full border-b border-x max-w-6xl mx-auto sticky top-0 bg-background/80 backdrop-blur-xs h-12 flex items-center z-10">
		<a href="/" hx-boost="true">
			<img src="/static/mimer.svg" class="w-[90px]" alt="Mimer"/>
		</a>
		<div class="ml-auto">
			@ThemeToggle()
		</div>
		<!-- <span class="htmx-indicator"> -->
		<!-- 	<img src="/img/bars.svg" alt=""/> Searching... -->
		<!-- </span> -->
		<!-- <div class="relative w-full"> -->
		<!-- 	<input -->
		<!-- 		class="form-control" -->
		<!-- 		type="search" -->
		<!-- 		name="search" -->
		<!-- 		placeholder="Search for positions..." -->
		<!-- 		hx-post="/search" -->
		<!-- 		hx-trigger="input changed delay:500ms, keyup[key=='Enter'], load" -->
		<!-- 		hx-target="#search-results" -->
		<!-- 		hx-indicator=".htmx-indicator" -->
		<!-- 	/> -->
		<!-- 	<div class="absolute top-full left-0 bg-background p-2 rounded right-0 border" id="search-results"></div> -->
		<!-- </div> -->
	</header>
}
