package components

import (
	"context"
	"github.com/itsektionen/mimer/app/ctxs"
	"strings"
)

func isLinkActive(ctx context.Context, href string) bool {
	path, ok := ctxs.PathFromContext(ctx)
	if !ok {
		return false
	}
	if href == "/" {
		return path == "/"
	}
	return strings.HasPrefix(path, href)
}

templ sidebarItem(label string, href string) {
	<a
		data-active={ isLinkActive(ctx, href) }
		class={ templ.Classes(
      "flex p-6 font-semibold hover:bg-muted relative",
      "data-[active=false]:before:hidden before:content-['']",
      "before:left-0 before:top-0 before:bottom-0 before:absolute before:w-2 before:bg-primary",
      ) }
		href={ href }
	>
		{ label }
	</a>
}

templ Sidebar() {
	<aside class="min-w-[300px] border-r">
		<nav class="divide-y border-b" hx-boost="true">
			@sidebarItem("Trustees", "/")
			@sidebarItem("Positions", "/positions")
			@sidebarItem("Groups", "/groups")
		</nav>
	</aside>
}
